#header {
    font-family: 'Share Tech Mono', monospace;
    text-align: center;
}

#r2 {
    background: transparent;
    border: none;
    color: antiquewhite;
    font-family: 'Share Tech Mono', monospace;
    text-align: right;
    user-select: none;
}

#r2:target { border: none; }

#r2:target-within { border: none; }

#calc {
    background: #454549;
    border: 1px solid;
    border-color: white;
    border-radius: 8px;
    display: block;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    padding: 8px;
    text-align: center;
    width: 380px;
}

#display {
    background: rgb(38, 38, 38);
    border-radius: 8px;
    color: #097a15;
    font-family: 'Share Tech Mono', monospace;
    font-size: 1.5em;
    margin: 16px 12px 10px 16px;
    padding: 8px;
    text-align: center;
}

#result p { font-size: 1.8em; }

#result,
#previous { text-align: right; }

#keyboard {
    display: inline-block;
    margin-bottom: 8px;
    text-align: center;
}

.row { margin-top: 4px; }

.last-row {
    float: left;
    margin-top: -11.5%;
}

button {
    margin: 2px;
    width: 62px;
}

.invisible { width: 0; }

.btn-zero { width: 196px; }

.btn-result {
    background: #097A15;
    float: right;
    font-size: 18px;
    height: 60px;
    margin-left: 4px;
    width: 125px;
}

.btn-result:hover { background: #086A12 }

#ac {
    background: rgb(174, 13, 13);
    border-color: rgb(251, 63, 63);
    float: right;
    margin-left: 4px;
    width: 125px;
}

#ac:hover {
    background: rgb(150, 11, 11);
    border-color: rgb(234, 58, 58)
}