@using Microsoft.AspNetCore.Identity
@using TomyaTask.Areas.Identity.Data
@inject SignInManager<ApplicationUser> signInManager

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE9">
    <title>@ViewData["Title"] - Tomya</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" style="color:#5952e4; font-size:36px; font-weight:bold" asp-area=""
                    asp-controller="Home" asp-action="Index">Tomya</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div style="text-align:right;" class="navbar-collapse collapse d-sm-inline-flex  justify-content-end">

                    @{

                        <ul style=" font-weight: bold;
                          font-size: 16px;
                          color: rgb(22, 22, 22); margin-left:50px;" class="navbar-nav flex-grow-1 ">

                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Home"
                                asp-action="Index">Anasayfa</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Home"
                                asp-action="Calculator">Hesap Makinesi</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Home"
                                asp-action="Privacy">Gizlilik</a>
                            </li>







                        </ul>


                        <partial name="_LoginPartial" />

                    }


                </div>

            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2022 - TomyaTask - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>

    @RenderSection("Scripts", required: false)

    <script>
        $(document).ready(function () {

            $("li").hover(function () {
        @* $(this).css("background-color", "#a1629f"); *@
                    $(this).css("background-color", "#5952e4");


            }, function () {
                $(this).css("background-color", "white");


            });

        });


    </script>
</body>

</html>
