@model CalculatorModel
@using System.Threading.Tasks;
@{
    ViewData["Title"] = "Calculator Page";
}
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Share+Tech+Mono"/>
<link rel="stylesheet" href="/css/calculator.css"/>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="/js/calculator.js"></script>


<div class="container">
    <div id="header">
        <h3 style="color: #D0D5D9">Hesap Makinesi</h3>
    </div>
    <div id="calc" class="text-center">


        <div id="display">
            <div id="result">
                <p id="r1" value="0">@ViewData["sonuc"]</p>
            </div>
            <div id="previous">
                <p id="" value="0">0</p>


            </div>
        </div>


        <div class="form-group" id="keyboard">
            <div class="row">
                <button class="btn btn-light" value="7">7</button>
                <button class="btn btn-light" value="8">8</button>
                <button class="btn btn-light" value="9">9</button>
                <button id="ac" class="btn btn-danger" value="ac">AC</button>

            </div>
            <div class="row">
                <button class="btn btn-light" value="4">4</button>
                <button class="btn btn-light" value="5">5</button>
                <button class="btn btn-light" value="6">6</button>
                <button class="btn btn-warning" value="/">/</button>
                <button class="btn btn-warning" value="*">*</button>
            </div>
            <div class="row">
                <button class="btn btn-light " value="1">1</button>
                <button class="btn btn-light" value="2">2</button>
                <button class="btn btn-light" value="3">3</button>
                <button class="btn btn-warning" value="+">+</button>
                <button class="btn btn-warning" value="-">-</button>


            </div>


            <div class="form-group">
                <div class="row">
                    <button class="btn btn-light btn-zero" value="0">0</button>
                    <!-- <button class="invisible" value=""></button> -->
                    <form form asp-controller="Home" asp-action="Calculator" method="post">
                        <input readonly asp-for="hesapText" style="visibility: hidden; display: none" type="text" name="hesapText" id="r2" value="0"/>
                        <input class="btn btn-success btn-result" type="submit" asp-for="hesap" value="="/>

                    </form >
                </div>

            </div>


        </div>

    </div>

</div>

