@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">TOMYA; kripto para almanın hızlı ve kolay yoludur.</h1>
    <h4 class="display-6">Yenilikçi, dürüst ve profesyonel bakış açısı ile hareket eden TOMYA, kullanıcılara dijital
        para borsalarında güvenli ve şeffaf şekilde hizmet etmeyi vizyon edinmiştir.</h4>

</div>
