@{
    ViewData["Title"] = "Privacy Policy";
}


<div _ngcontent-serverapp-c6="" class="col-lg-8">
    <h1 _ngcontent-serverapp-c6="" style="font-size: 2.25rem !important;">Gizlilik ve Çerez Politikası</h1>
    <h3 _ngcontent-serverapp-c6="" class="text-success mt-4">Gizliliğiniz bizim için önemlidir, gizlilik ve güvenlik
        haklarınız temel prensibimizdir.</h3>
    <div _ngcontent-serverapp-c6="" class="mt-lg-7 mt-4">
        <p _ngcontent-serverapp-c6="">Tomya Teknoloji Anonim Şirketi, müşteri memnuniyeti ve güvenliği odaklı hizmet
            felsefesi ile dijital varlık alım ve satımı işlemleri gereği, www.tomya.com sitesi üzerinden vermiş
            olduğunuz bilgilerin gizliliğini korumak amacıyla aşağıda belirtilen temel kuralları benimsemektedir:</p>
        <p _ngcontent-serverapp-c6=""> 1. Web Sitemizden yalnızca dijital varlık ürünleri ve türev hizmetlere yönelik
            başvurular ve kullanıcı bilgilerini güncellemek amaçlı bilgi girişi yapılmaktadır.</p>
        <p _ngcontent-serverapp-c6=""> 2. Tomya’ya ait servislere erişirken sizden hiçbir surette özel nitelikli
            kullanıcı ya da aygıt bilgisi istenmez.</p>
        <p _ngcontent-serverapp-c6=""> 3. Tomya, müşterilerinin kişisel bilgilerinin gizliliğini korumak amacıyla sistem
            ve internet altyapısını güvenilir seviyede tutarak gerekli tedbirleri almıştır.</p>
        <p _ngcontent-serverapp-c6=""> 4. Şirket; sitesini, virüs ve benzeri kötü amaçlı yazılımlardan korumak için
            olması için mevcut imkânlar dâhilinde gerekli önlemleri almış olmakla birlikte, nihai korumanın
            gerçekleşebilmesi için, kullanıcının kendi virüs koruma sistemini sağlamak ve bu uğurdaki önlemleri bireysel
            olarak yerine getirmesi gerekmektedir. Bu noktada kullanıcı, kendi yazılım ve işletim sistemlerinde
            oluşabilecek tüm aksaklıklardan, sorunlardan ve bunların doğrudan ya da dolaylı sonuçlarından kendisinin
            sorumlu olduğunu kabul ve beyan eder.</p>
        <p _ngcontent-serverapp-c6=""> 5. Kullanıcıların, şirketin sitesine ürün/hizmet başvurusu ve bilgi güncelleme
            amaçlı girmiş oldukları bilgiler diğer internet kullanıcıları tarafından görüntülenemez. Kullanıcıların,
            bizimle paylaştığı bilgilere izinsiz ulaşıma önlem olarak, Tomya Teknoloji A.Ş. ilgili personeli haricindeki
            çalışanlarının bu verilere erişimi kısıtlanmıştır.</p>
        <p _ngcontent-serverapp-c6=""> 6. Şirket, söz konusu bilgileri müşterilerinin rızası haricinde veya kanuni bir
            mecburiyet altında bulunmadığı sürece hiçbir kişi, kurum ve kuruluş ile paylaşmayacaktır.&nbsp;</p>
        <p _ngcontent-serverapp-c6=""> 7. Şirket, bahsi geçen kişisel nitelikli bu bilgileri sadece kanunda öngörülen
            hallerde açıklayabilecektir. Devlet kurumları ve/veya yasama, yürütme organ ve mercileri müşteri
            bilgilerinin açıklanmasını istediğinde, Şirket bu bilgileri yalnızca gerekli yetkiler çerçevesinde
            açıklayacaktır.&nbsp;</p>
        <p _ngcontent-serverapp-c6=""> 8. Şirket, destek hizmetler almak amacıyla farklı kuruluşlarla çalışılması
            durumunda, bu firmaların Şirketin gizlilik standartlarına ve şartlarına uymalarını sağlayacaktır.</p>
        <p _ngcontent-serverapp-c6=""> 9. Şirketin sitesinde, kullanıcının kullandığı web tarayıcısına göre, üçüncü
            şahıslar tarafından idare edilen internet sitelerine yönlendirme sağlayan bağlantılar bulunabilir. Şirket,
            bu sitelerin içeriklerini denetlememekte ve bu sitelerin kullanımından doğabilecek her türlü maddi/manevi
            zararlara karşı Şirket tarafından hiçbir sorumluluk kabul edilmemektedir.</p>
        <p _ngcontent-serverapp-c6=""> 10. Şirket ve Şirketin servis sağlayıcıları, çerezler ve web işaretçileri dahil
            olmak üzere bilgi toplamak için çeşitli teknolojiler kullanmaktadır. Çerezler, sabit sürücünüzde veya cihaz
            hafızasında saklanan, hizmetlerimizi ve deneyiminizi geliştirmemize yardımcı olan, hizmetlerimizin hangi
            alanlarının ve özelliklerinin popüler olduğunu görüp ziyaretleri sayan küçük veri dosyalarıdır. Web
            işaretleri, hizmetlerimizde veya e-postalarımızda kullanılabilecek ve görüntü sağlama, ziyaretleri sayma,
            kullanım ve kampanya etkinliğini anlama konusunda yardımcı olabilecek elektronik resimlerdir. </p>
        <p _ngcontent-serverapp-c6=""> 11. Çoğu web tarayıcısı, varsayılan olarak çerezleri kabul edecek şekilde
            ayarlanmıştır. Takdirinize bağlı olarak, tarayıcınızı çerezleri kaldırması veya reddetmesi için
            ayarlayabilirsiniz. Tarayıcı çerezlerini kaldırmak veya reddetmek, Hizmetlerimizle bağlantılı olarak
            kullanılan üçüncü taraf flash çerezleri etkilemez. Flash çerezleri silmek veya devre dışı bırakmak için
            lütfen http://helpx.adobe.com/flash-player/kb/disable-local-shared-objects-flash.html adresini ziyaret edin.
            Lütfen çerezleri kaldırmayı veya reddetmeyi seçerseniz, bunun Hizmetlerimizin kullanılabilirliğini ve
            işlevselliğini etkileyebileceğini unutmayın.</p>
        <p _ngcontent-serverapp-c6=""> 12. Şirket, hakkınızdaki bilgilerin kayıp, hırsızlık, kötüye kullanım ve yetkisiz
            erişim, ifşa, değişiklik ve imhadan korunmasına yardımcı olmak için makul önlemleri almaktadır.</p>
        <p _ngcontent-serverapp-c6=""> 13. Sitenin kullanımı esnasında meydana gelebilecek her türlü aksaklık, hata,
            kesinti, gecikme, bilgisayar virüsü, hat ya da sistem arızası sonucunda ortaya çıkabilecek doğrudan/dolaylı
            zararlardan Şirket sorumlu değildir.</p>
        <p _ngcontent-serverapp-c6=""> 14. Sitede bulunan bilgi, materyal, yazılım, tema, tasarım ve fikri-sınai hak
            kapsamına girebilecek nitelikteki diğer tüm unsurların telif hakkı Şirkete aittir.</p>
        <p _ngcontent-serverapp-c6=""> Bu Gizlilik Politikası aşağıdakiler için geçerli değildir:</p>
        <ul _ngcontent-serverapp-c6="" class="li-list mt-3">
            <li _ngcontent-serverapp-c6="" class="mt-0">Hizmetlerimize reklam veren başka şirketlerin ve kuruluşların
                bilgi uygulamaları</li>
            <li _ngcontent-serverapp-c6="" class="mt-0">Google hizmetlerini içerebilen, arama sonuçlarında size
                gösterilebilen veya hizmetlerimizden bağlantı verilebilen ürünler ya da siteler dahil olmak üzere diğer
                şirketler ve bireyler tarafından sunulan hizmetler.</li>
        </ul>
    </div>
</div>
